node_modules/

ReactApp/logs
ReactApp/*.log
ReactApp/npm-debug.log*
ReactApp/yarn-debug.log*
ReactApp/yarn-error.log*
ReactApp/pnpm-debug.log*
ReactApp/erna-debug.log*

ReactApp/node_modules/
ReactApp/dist/
ReactApp/dist-ssr
ReactApp/*.local
ReactApp/.env


NodeServer/node_modules/
NodeServer/logs/
NodeServer/.env



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?